<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="projetandroid.myandroidapplication">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MenuPrincipal"
            android:label=" menu "></activity>
        <activity android:name=".AddScore"
            android:label="ajout score "></activity>
        <activity android:name=".Top10Jeux"
            android:label="top 10 des meilleurs scores"></activity>
        <activity android:name=".ListeJeux"
            android:label="liste des jeux"></activity>
        <activity android:name=".ListeJoueurs"
            android:label="liste des joueurs"></activity>
    </application>

</manifest>